body, html, h1, h2, h3, button, input, select, textarea {
    font-family: Arial;
    color: #555;
}
p {
    font-size: 90%;
}

button {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  line-height: 1;
  padding: 6px 0 8px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px; }
  button:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer; }
  button:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4); }

button.green {
    background-color: #43ee2e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43ee2e), color-stop(50%, #39c629), color-stop(50%, #17b500), color-stop(100%, #118900));
    background-image: -webkit-linear-gradient(top, #43ee2e 0%, #39c629 50%, #17b500 50%, #118900 100%);
    background-image: -moz-linear-gradient(top, #43ee2e 0%, #39c629 50%, #17b500 50%, #118900 100%);
    background-image: -ms-linear-gradient(top, #43ee2e 0%, #39c629 50%, #17b500 50%, #118900 100%);
    background-image: -o-linear-gradient(top, #43ee2e 0%, #39c629 50%, #17b500 50%, #118900 100%);
    background-image: linear-gradient(top, #43ee2e 0%, #39c629 50%, #17b500 50%, #118900 100%);
    border: 1px solid #119500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(115, 255, 100, 0.4), 0 1px 3px #333333;
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(115, 255, 100, 0.4), 0 1px 3px #333333;
    box-shadow: inset 0px 0px 0px 1px rgba(115, 255, 100, 0.4), 0 1px 3px #333333;
    color: #fff;
    line-height: 1;
    padding: 6px 0 8px 0;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px; }
    button.green:hover {
      background-color: #78f373;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #78f373), color-stop(50%, #50db4d), color-stop(50%, #05cb00), color-stop(100%, #06a201));
      background-image: -webkit-linear-gradient(top, #78f373 0%, #50db4d 50%, #05cb00 50%, #06a201 100%);
      background-image: -moz-linear-gradient(top, #78f373 0%, #50db4d 50%, #05cb00 50%, #06a201 100%);
      background-image: -ms-linear-gradient(top, #78f373 0%, #50db4d 50%, #05cb00 50%, #06a201 100%);
      background-image: -o-linear-gradient(top, #78f373 0%, #50db4d 50%, #05cb00 50%, #06a201 100%);
      background-image: linear-gradient(top, #78f373 0%, #50db4d 50%, #05cb00 50%, #06a201 100%);
      cursor: pointer; }
    button.green:active {
      background-color: #d43c28;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
      background-image: -webkit-linear-gradient(top, #3cd428 0%, #32ad24 50%, #159c00 50%, #0d7000 100%);
      background-image: -moz-linear-gradient(top, #3cd428 0%, #32ad24 50%, #159c00 50%, #0d7000 100%);
      background-image: -ms-linear-gradient(top, #3cd428 0%, #32ad24 50%, #159c00 50%, #0d7000 100%);
      background-image: -o-linear-gradient(top, #3cd428 0%, #32ad24 50%, #159c00 50%, #0d7000 100%);
      background-image: linear-gradient(top, #3cd428 0%, #32ad24 50%, #159c00 50%, #0d7000 100%);
}

header {
    overflow: auto;
    width: 100%
}
header .logo-title {
    float: left;
    width: 300px;
    margin: 20px;
}
header .logo {
    display: inline-block;
    width: 300px;
    height: 100px;
    background-image: url(/img/logo.png);
}
header .dialog {
    float: right;
    width: 50%;
    border: 1px solid #ddd;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    margin-top: 40px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 0 0 10px 2px #999;
    -webkit-box-shadow: 0 0 10px 2px #999;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

.user {
    position: relative;
    font-size: 11px;
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 3px;
    float: left;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 2px 1px #ddd;
    -webkit-box-shadow: 2px 2px 2px 1px #ddd;
}
.icons {
    margin-top: 4px;
}
.goals {
    position:absolute;
    bottom:0;
}
.goals button {
    width: 30px;
}
.in_progress {
    background: #FFFFCC;
}

.onoffswitch {
    position: relative; width: 121px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #757575; border-radius: 13px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > div {
    float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 14px; color: white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
    padding-left: 10px;
    background-color: #62C765; color: #FFFFFF;
}
.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 11px; margin: 5px;
    background: #FFFFFF;
    border: 1px solid #757575; border-radius: 13px;
    position: absolute; top: 0; bottom: 0; right: 96px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
