body {
    color: #333;
    font-family: monospace;
}
.features {
    float: left;
    border: 1px solid #ddd;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-bottom: 15px;
    margin: 20px;
    -moz-box-shadow: 0 0 20px 3px #999;
    -webkit-box-shadow: 0 0 20px 3px #999;
}
.features h2 {
    padding-left: 20px;
}
.feature {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.feature img {
    padding-right: 5px;
}
.userview-wrapper {
    font-size: 11px;
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 3px;
    float: left;
}
.userview {
    margin-top: 4px;
}
.new {
    background: #f7f787;
}
