<% total_users = 50 %>

<header>
  <div class="logo-title">
    <div class="logo">&nbsp;</div>
    <h1>Demo Application</h1>
    <h2>User Views</h2>
  </div>
  <div class="dialog">
    <p>Here is the view of this application from the perspective of <%= total_users %> different users.</p>
    <p>Each user has different features enabled.</p>
    <p>This site is using <a href="http://www.fluidfeatures.com">FluidFeatures.com</a> to enable / disable features for this user-base.</p>
    <div class="controls">
      Demo is <div class="onoffswitch">
          <input type="checkbox" name="running" class="onoffswitch-checkbox" id="running">
          <label class="onoffswitch-label" for="running">
              <div class="onoffswitch-inner">
                  <div class="onoffswitch-active">Running</div>
                  <div class="onoffswitch-inactive">Paused</div>
              </div>
              <div class="onoffswitch-switch"></div>
          </label>
      </div>
      Goals are <div class="onoffswitch">
          <input type="checkbox" name="show-goals" class="onoffswitch-checkbox" id="show-goals">
          <label class="onoffswitch-label" for="show-goals">
              <div class="onoffswitch-inner">
                  <div class="onoffswitch-active">Visible</div>
                  <div class="onoffswitch-inactive">Hidden</div>
              </div>
              <div class="onoffswitch-switch"></div>
          </label>
      </div>
      Users are <div class="onoffswitch">
          <input type="checkbox" name="signed-in-users" class="onoffswitch-checkbox" id="signed-in-users" checked>
          <label class="onoffswitch-label" for="signed-in-users">
              <div class="onoffswitch-inner">
                  <div class="onoffswitch-active">Signed-in</div>
                  <div class="onoffswitch-inactive">Anonymous</div>
              </div>
              <div class="onoffswitch-switch"></div>
          </label>
      </div>
      Names are <div class="onoffswitch">
          <input type="checkbox" name="show-names" class="onoffswitch-checkbox" id="show-names">
          <label class="onoffswitch-label" for="show-names">
              <div class="onoffswitch-inner">
                  <div class="onoffswitch-active">Visible</div>
                  <div class="onoffswitch-inactive">Hidden</div>
              </div>
              <div class="onoffswitch-switch"></div>
          </label>
      </div>
    </div>
  </div>
</header>

<!-- One window for each user -->
<div class="users">
  <% (1..total_users).each do |user_id| %>
    <div class="user" id="user_<%= user_id %>" data-user-id="<%= user_id %>">
      User: <%= user_id %>
      <div class="name hidden">Bob Jones</div>
      <div class="icons"></div>
      <div class="goals hidden">
        <!--
        <button data-goal-name="buy" data-goal-version="left">Buy</button>
        &nbsp;
        &nbsp;
        -->
        <button data-goal-name="sell" class="green">Sell</button>
        &nbsp;
        &nbsp;
        <button data-goal-name="buy">Buy</button>
      </div>
    </div>
  <% end %>
</div>
